.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.task-list {
  display: flex;
  gap: 20px;
   width: max-content;
  padding: 20px;
}

.task-list.carousel-active:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.task-list.carousel-active {
  animation: scrolling 10s linear infinite;
}